.dragAndDrop ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}


.dragAndDrop ul[dnd-list] .dndDraggingSource {
  display: none;
}

.dragAndDrop ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

.dragAndDrop ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.dragAndDrop ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}


.glyphicon{
  background-color: transparent;
  border: none;
}

.no-padding{padding:0!important}
.no-margin{margin:0!important}


.header{
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  z-index: 55 !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.margin-10{
  margin: 10px !important;
}

.cardList:not(:last-child)>div.panel{
  margin-right: 10px;
}

.panel-info>.panel-heading{
  background-color: transparent !important;
}
.card:hover{
  .deleteIcon {
    display: inline-block !important;
  }
  background-color: #dcdbe4 !important;
}

.deleteIcon{
  display: none !important;
}
