<div class="header">
  <h1 class="text-center">Drag and Drop</h1>
</div>

<div class="dragAndDrop row margin-10">
  <div ng-repeat="(listName, list) in models.lists" class="col-xs-4 no-padding cardList">
        <div class="panel panel-info">
          <div class="panel-heading clearfix">
            <h3 class="panel-title col-xs-9">{{listName}}</h3>
            <div class="btn-group pull-right">
              <!--ng-click="addElement(listName)"-->
              <button class='glyphicon glyphicon-plus' ng-click="addCardModel(listName)" data-toggle="modal" data-target="#addModal">
              </button>
              <!--<button class="btn btn-default btn-sm" ng-click="addCardModel(listName)">Add</button>-->
            </div>
          </div>
          <div class="panel-body">

            <ul dnd-list="list">

              <li ng-repeat="item in list"
                  dnd-draggable="item"
                  dnd-moved="list.splice($index, 1)"
                  dnd-effect-allowed="move"
                  dnd-selected="models.selected = item"
                  ng-class="{'selected': models.selected === item}"
                  class="card"
              >
                {{item.label}}
                <div class="btn-group pull-right deleteIcon">
                  <button class='glyphicon glyphicon-remove' type='submit' ng-click="removeCard(listName,$index)">
                  </button>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-weight: bold" id="exampleModalLabel">Add Card to {{CurrentListName}} List</h5>
      </div>
      <div class="modal-body">
        <form name="addCardForm">
          <div class="form-group">
            <div class="row">
              <label for="cardName" class="col-sm-4 text-right">Card Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="cardName" placeholder="Enter card name" ng-model="cardName" required>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveCard(CurrentListName,cardName)">Save changes</button>
      </div>
    </div>
  </div>
</div>
